.loading-indicator-container {
  --loading-width: 80%;
  --still-loading-width: 90%;

  --still-loading-duration: 10s;
  --done-duration: 0.4s;
  --fade-out-duration: 0.4s;

  position: fixed;
  top: 0;
  left: 0;
  z-index: z("header") + 1;

  height: 5px;
  width: 100%;

  opacity: 0;
  transition: opacity var(--fade-out-duration) ease var(--done-duration);

  background-color: var(--primary-low);

  .loading-indicator {
    height: 100%;
    width: 100%;
    width: 0%;
    background-color: #FF3A2D;
  }

  &.loading,
  &.still-loading {
    opacity: 1;
    transition: opacity 0s;
  }

  &.loading .loading-indicator {
    transition: width var(--loading-duration) ease-in;
    width: var(--loading-width);
  }

  &.still-loading .loading-indicator {
    transition: width var(--still-loading-duration) linear;
    width: var(--still-loading-width);
  }

  &.done .loading-indicator {
    transition: width var(--done-duration) ease-out;
    width: 100%;
  }

  body.discourse-hub-webview & {
    // DiscourseHub obscures the top 1px to work around an iOS bug
    top: 1px;
  }

  body.footer-nav-ipad & {
    top: 49px; // TODO: Share $footer-nav-height from footer-nav.scss
  }
}

.below-site-header-outlet.full-page-loading-spinner {
  padding-top: 1.8em;
  display: none;
}

body.still-loading {
  .below-site-header-outlet.full-page-loading-spinner {
    display: block;
  }

  #main-outlet {
    display: none;
  }
}

// body #main-outlet {
//   transition: opacity 0.2s ease;
// }

// body.loading #main-outlet {
//   opacity: 0.2;
//   transition: opacity var(--loading-duration) ease;
// }
